@media (max-width: 1600px) {
  .tokyo_tm_all_wrap .leftpart {
    width: 400px;
  }
  .tokyo_tm_section {
    margin-left: 400px;
  }
  .tokyo_tm_all_wrap .rightpart {
    padding-left: 400px;
  }
}

@media (max-width: 1200px) {
  .tokyo_tm_mobile_menu {
    display: block;
  }
  .tokyo_tm_section {
    margin-left: 0;
  }
  .tokyo_tm_all_wrap .leftpart {
    position: fixed;
    width: 100%;
    height: auto;
    padding: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: #fff;
    box-shadow: 0 10px 40px 0 rgba(12, 68, 25, 0.1);
  }
  .tokyo_tm_all_wrap .leftpart .leftpart_inner {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
  }
}

@media screen and (max-width: 1200px) and (max-width: 420px) {
  .tokyo_tm_all_wrap .leftpart .leftpart_inner {
    padding: 20px 15px;
  }
}

@media (max-width: 1200px) {
  .tokyo_tm_all_wrap .leftpart .leftpart_inner .navbar-brand img {
    max-width: 100px;
  }
  .tokyo_tm_all_wrap .leftpart .leftpart_inner .copyright {
    display: none;
  }
  .tokyo_tm_all_wrap .leftpart .leftpart_inner .menu {
    padding: 0;
    width: auto;
    float: none;
    display: inline-flex;
  }
  .tokyo_tm_all_wrap .leftpart .leftpart_inner .menu ul {
    display: flex;
    align-items: center;
  }
  .tokyo_tm_all_wrap .leftpart .leftpart_inner .menu a .svg {
    display: block;
  }
  .tokyo_tm_all_wrap .leftpart .leftpart_inner .menu a .menu_content {
    display: none;
  }
  .tokyo_tm_all_wrap .leftpart .leftpart_inner .menu a:not(:last-child) {
    margin-right: 15px;
  }
  .tokyo_tm_all_wrap
    .leftpart
    .leftpart_inner
    .menu
    a.react-tabs__tab--selected {
    filter: invert(0.4);
  }
  .tokyo_tm_all_wrap .rightpart {
    padding-left: 0;
  }
  .tokyo_tm_all_wrap .rightpart_in {
    border-left: none;
  }
  .tokyo_tm_about,
  .tokyo_tm_contact,
  .tokyo_tm_home,
  .tokyo_tm_news,
  .tokyo_tm_portfolio {
    padding-top: 170px;
  }
  .tokyo_tm_home {
    padding-bottom: 120px;
  }
  .tokyo_tm_modalbox_about .close a {
    color: #000;
  }
  .tokyo_tm_modalbox_about .close {
    left: auto;
    right: 5px;
    top: 25px;
  }
  .close .svg {
    width: 25px;
    height: 25px;
  }
  .not-found-wrapper .tokyo_tm_error {
    height: calc(100vh + 70px);
  }
}

@media (max-width: 1040px) {
  .mouse-cursor {
    display: none;
  }
  .tokyo_tm_mobile_menu .menu_inner {
    padding: 20px;
  }
  .tokyo_tm_home .home_content {
    flex-direction: column;
    text-align: center;
  }
  .tokyo_tm_home .avatar {
    margin-bottom: 30px;
  }
  .tokyo_tm_home .details {
    margin-left: 0;
  }
  .tokyo_tm_about .description_inner {
    flex-direction: column;
  }
  .tokyo_tm_about .description .left {
    width: 100%;
    padding: 0;
    margin-bottom: 50px;
  }
  .tokyo_tm_about .description .right {
    width: 100%;
    padding: 0;
  }
  .tokyo_tm_title .title_flex {
    flex-direction: column;
    align-items: flex-start;
  }
  .tokyo_tm_title .portfolio_filter {
    padding-top: 48px;
  }
  .tokyo_tm_modalbox_news .description_wrap {
    padding: 40px 25px;
  }
  .tokyo_tm_modalbox_about .description_wrap {
    padding: 90px 25px 60px;
  }
  .tokyo_tm_modalbox_about .my_box {
    flex-direction: column;
  }
  .tokyo_tm_modalbox_about .my_box .left {
    width: 100%;
    padding-right: 0;
    margin-bottom: 50px;
  }
  .tokyo_tm_modalbox_about .my_box .right {
    width: 100%;
    padding-left: 0;
  }
  .container {
    padding: 0 20px;
  }
  .tokyo_tm_title {
    margin-bottom: 20px;
  }
  .tokyo_tm_all_wrap .leftpart img {
    max-width: 100px;
  }
}

@media (max-width: 767px) {
  .tokyo_tm_home .details .name {
    font-size: 35px;
  }
  .tokyo_tm_home .avatar {
    min-width: 200px;
    min-height: 200px;
  }
  .tokyo_tm_portfolio .portfolio_list {
    margin: 0;
  }
  .tokyo_tm_portfolio .portfolio_list li {
    width: 100%;
    padding-left: 0;
  }
  .tokyo_tm_news ul {
    margin: 0;
  }
  .tokyo_tm_news ul li {
    width: 100%;
    padding-left: 0;
  }
  .tokyo_tm_modalbox_about .description_wrap {
    padding: 60px 25px 30px;
  }
  .tokyo_tm_modalbox_news .main_content .icon {
    position: relative;
    margin-bottom: 30px;
  }
  .tokyo_tm_modalbox_news .main_content .quotebox {
    padding-left: 0;
  }
  .tokyo_tm_modalbox_about .counter ul {
    margin: 0;
  }
  .tokyo_tm_modalbox_about .counter ul li {
    width: 100%;
    padding-left: 0;
  }
  .cool-lightbox-toolbar {
    top: 72px;
  }
}

.tokyo_tm_section .container {
  height: 100%;
}

.tokyo_tm_error {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tokyo_tm_error_inner h1 {
  font-size: 120px;
  font-weight: 700;
  line-height: 1.2;
}

@media screen and (max-width: 767px) {
  .tokyo_tm_error_inner h1 {
    font-size: 60px;
  }
}

.tokyo_tm_error_inner h3 {
  font-size: 35px;
  line-height: 1.3;
  margin-bottom: 15px;
}

@media screen and (max-width: 767px) {
  .tokyo_tm_error_inner h3 {
    font-size: 26px;
  }
}

.tokyo_tm_error_inner p {
  font-size: 18px;
  margin-bottom: 25px;
}

.not-found-wrapper .copyright {
  padding-top: 30px;
}

.footer-wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background: #fff;
  display: none;
}

@media (max-width: 450px) {
  .footer-wrapper {
    display: block;
  }
}

.footer-wrapper .copyright {
  padding: 15px;
}

.footer-wrapper .copyright a {
  padding-left: 5px;
  color: #787878;
  font-weight: 500;
  transition: all 0.3s ease;
  text-decoration: none;
}

.footer-wrapper .copyright a:hover {
  color: #000;
  letter-spacing: 2px;
}

@media (max-width: 576px) {
  .tokyo_tm_contact {
    padding-bottom: 100px;
  }
  .tokyo_tm_news {
    padding-bottom: 60px;
  }
  .tokyo_tm_portfolio {
    padding-bottom: 70px;
  }
  .tokyo_tm_about {
    padding-bottom: 95px;
  }
  .tokyo_tm_home {
    padding-bottom: 90px;
    min-height: auto;
  }
}

.popup-content {
  width: auto;
  padding: 0;
  border: none;
  background: #000;
}

.modal {
  width: 900px;
  height: 600px;
}

.modal .frame,
.modal iframe {
  width: 100%;
  height: 100%;
}

.modal .close_modal {
  position: absolute;
  cursor: pointer;
  right: -12px;
  top: -25px;
  background: #fff;
  border: none;
  outline: none;
  padding: 5px 10px;
  font-size: 20px;
  border-radius: 50%;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  transition: opacity 0.3s ease;
  overflow: hidden;
}

.modal-dialog {
  max-width: 968px;
  margin: 0 auto;
  padding: 0 15px;
}

.modal-dialog-centered {
  display: flex;
  align-items: center;
  min-height: calc(100% - 0.2rem);
}

@media screen and (max-width: 1100px) {
  .modal-dialog-centered {
    min-height: calc(100% + 4rem);
  }
}

.modal-dialog {
  position: relative;
  width: auto;
  pointer-events: none;
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
  border-radius: 10px;
  box-shadow: none;
  padding: 70px;
  height: 650px;
  overflow-y: auto;
}

@media screen and (max-width: 991px) {
  .modal-content {
    padding: 50px 30px;
  }
}

@media screen and (max-width: 575px) {
  .modal-content {
    padding: 35px 20px;
    height: 470px;
  }
}

button.modal-close {
  position: fixed;
  top: 0;
  right: 0;
  background: #ddd;
  padding: 15px;
  border: none;
  font-size: 20px;
  text-transform: capitalize;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .tokyo_tm_all_wrap .leftpart a.active img {
    filter: invert(0.5);
  }
}

.tokyo_tm_about,
.tokyo_tm_contact,
.tokyo_tm_home,
.tokyo_tm_news,
.tokyo_tm_portfolio {
  -webkit-animation: customOne 0.8s ease-in-out 0s 1 normal none running;
  animation: customOne 0.8s ease-in-out 0s 1 normal none running;
}

@-webkit-keyframes customOne {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes customOne {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.customOne {
  -webkit-animation-name: customOne;
  animation-name: customOne;
}

.tokyo_tm_intro .left,
.tokyo_tm_intro .right {
  -webkit-animation: slideTop 0.8s ease-in-out 0s 1 normal none running;
  animation: slideTop 0.8s ease-in-out 0s 1 normal none running;
}

@-webkit-keyframes slideTop {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes slideTop {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.slideTop {
  -webkit-animation-name: slideTop;
  animation-name: slideTop;
}

.tokyo_tm_intro .short_info {
  position: fixed;
  top: 10%;
  width: 100%;
  text-align: center;
}

.tokyo_tm_intro .short_info img {
  margin-bottom: 25px;
}

.tokyo_tm_intro .short_info h3 {
  font-size: 20px;
  color: #767676;
}

.tokyo_tm_intro {
  width: 100%;
  height: 100vh;
  clear: both;
  float: left;
  position: relative;
}

.tokyo_tm_intro .demos {
  width: 100%;
  height: 100%;
  clear: both;
  display: flex;
  align-items: center;
  text-align: center;
  position: relative;
}

.tokyo_tm_intro .left,
.tokyo_tm_intro .right {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 20px;
}

.tokyo_tm_intro .left a,
.tokyo_tm_intro .right a {
  text-decoration: none;
}

.tokyo_tm_intro .demos img {
  max-width: 400px;
  margin-bottom: 25px;
}

@media (max-width: 1040px) {
  .tokyo_tm_intro .demos img {
    max-width: 100%;
  }
}

.tokyo_tm_intro .desc {
  position: relative;
  top: 0;
  transition: all 0.3s ease;
}

.tokyo_tm_intro .desc h3 {
  font-size: 20px;
  font-weight: 800;
}

.tokyo_tm_intro .intro_line,
.tokyo_tm_intro .intro_line_2,
.tokyo_tm_intro .intro_line_3 {
  position: fixed;
  top: 0;
  width: 1px;
  height: 200%;
  left: 50%;
  transform: translateY(-50%);
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.06);
}

.tokyo_tm_intro .intro_line {
  left: 25%;
}

.tokyo_tm_intro .intro_line_2 {
  left: 50%;
  transform: translateY(-50%);
}

.tokyo_tm_intro .intro_line_3 {
  left: 75%;
}

.tokyo_tm_intro .intro_link {
  position: absolute;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.tokyo_tm_intro .left:hover .desc,
.tokyo_tm_intro .right:hover .desc {
  top: -20px;
}

.tokyo_tm_intro_fixed_price .anim,
.tokyo_tm_intro_fixed_price .pricing-info {
  text-decoration: none;
  color: #fff;
  font-family: Montserrat;
  background-color: #e54b4b;
  position: fixed;
  font-size: 22px;
  text-align: center;
  z-index: 3;
  border-radius: 100%;
  height: 70px;
  width: 70px;
  line-height: 70px;
  display: inline-block;
  left: 50%;
  bottom: 10%;
  margin-left: -35px;
  font-weight: 600;
  transition: all 0.2s;
}

@-webkit-keyframes myAnim {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  50% {
    opacity: 0.3;
  }
  to {
    transform: scale(2);
    opacity: 0;
  }
}

@keyframes myAnim {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  50% {
    opacity: 0.3;
  }
  to {
    transform: scale(2);
    opacity: 0;
  }
}

.tokyo_tm_intro_fixed_price .anim:first-child {
  -webkit-animation: myAnim 2s infinite;
  animation: myAnim 2s infinite;
}

.tokyo_tm_intro_fixed_price .anim:nth-child(2) {
  -webkit-animation: myAnim 2s 0.3s infinite;
  animation: myAnim 2s 0.3s infinite;
}

.tokyo_tm_intro_fixed_price .anim:nth-child(3) {
  -webkit-animation: myAnim 2s 0.6s infinite;
  animation: myAnim 2s 0.6s infinite;
}
